<!-- <h3>Dealer Name (Dealer Code)</h3>
<div class="container jumbotron">
    <form class="form-inline" action="/dealerScreen">
        <label for="fromdate" class="form-control-sm mb-2 mr-sm-2">From Date :</label>
        <input [(ngModel)]="fromDateSearch" type="date" class="form-control form-control-sm mb-2 mr-sm-2" id="fromdate" placeholder="Enter the from date" name="fromdate">
        <label for="todate" class="form-control-sm mb-2 mr-sm-2">To Date :</label>
        <input [(ngModel)]="toDateSearch" type="date" class="form-control form-control-sm mb-2 mr-sm-2" id="todate" placeholder="Enter the to date" name="todate">
        <button (click)="searchOrderDetails()" type="submit" class="btn btn-primary mb-2 form-control-sm">Submit</button>
    </form>
</div>
<div class="jumbotron">
    <table class="table table-sm table-condensed table-bordered table-responsive tableCust">
        <thead class="table-primary">
            <th>Order Number</th>
            <th>Claim Settled Date</th>
            <th>Days left for Reasoning</th>
            <th>Part Number</th>
            <th>Part Description</th>
            <th>Frame Number</th>
            <th>Kms</th>
            <th>Sales date</th>
            <th>Repair date</th>
            <th>Model</th>
            <th>Rejection Reason</th>
            <th>NDP rate</th>
            <th>Dealer Code</th>
            <th>Dealer Name</th>
            <th>City</th>
            <th>Status of the Part</th>
            <th>Creadited Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of orderDetails">
                <td>{{ item['ORDER_NUMBER'] }}</td>
                <td>{{ item['CLAIM_SETTLED_DATE'] | date:'shortDate' }}</td>
                <td>{{ item['DAYS_LEFT_FOR_RECLAIMING'] }}</td>
                <td>{{ item['PART_NUMBER'] }}</td>
                <td>{{ item['PART_DESCRIPTION'] }}</td>
                <td>{{ item['FRAME_NUMBER'] }}</td>
                <td>{{ item['KMS'] }}</td>
                <td>{{ item['SALES_DATE'] | date:'shortDate' }}</td>
                <td>{{ item['REPAIR_DATE'] | date:'shortDate' }}</td>
                <td>{{ item['MODEL'] }}</td>
                <td>{{ item['REASON_FOR_REJECTION'] }}</td>
                <td>{{ item['NDP_RATE'] }}</td>
                <td>{{ item['DEALER_CODE'] }}</td>
                <td>{{ item['DEALER_NAME'] }}</td>
                <td>{{ item['CITY'] }}</td>
                <td>{{ item['MODEL'] }}</td>
                <td>{{ item['CREATED_ON'] | date:'shortDate' }}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<h4 class="custApprovalHead">Dealer Parts</h4>
<form class="form-inline form-bg">
  <div class="form-row">
      <div class="form-group">
        <label for="datefrom" class="form-control-sm mb-2 mr-sm-2">Date From :</label>
        <input [(ngModel)]="fromdate" type="date"
         class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="datefrom" placeholder="Date From">
      </div>
      <div class="form-group">
          <label for="dateto" class="form-control-sm mb-2 mr-sm-2">Date To :</label>
          <input [(ngModel)]="todate" type="date" 
          class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="dateto" placeholder="Date To">
      </div>
      <!-- <div class="form-group">
        <label for="dealercode" class="form-control-sm mb-2 mr-sm-2">Dealer Code:</label>
        <input [(ngModel)]="searchdealercode" 
        type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="searchdealercode" placeholder="Dealer Code">
      </div> -->
      <!-- <div class="form-group">
          <label for="stage" class="form-control-sm mb-2 mr-sm-2">Status :</label>
          <select  class="form-control form-control-sm mb-2 mr-sm-2" name="tmdrpdwn" 
          [(ngModel)]="stage">
              <option  value="">Select Status</option>
              <option  value="Pending">Pending</option>
              <option  value="Completed">Completed</option>
             
            </select>
      </div> -->
      <!-- <div class="form-group">
          <label for="dealercode" class="form-control-sm mb-2 mr-sm-2 approve-sec">Dealer Code:</label>
          <select [(ngModel)]="searchdealercode" class="form-control form-control-sm mb-2 mr-sm-2" name="dealercode" id="">
            <option value="">-- Select --</option>
            <option value=""></option>
            <option value=""></option>
          </select>
      </div>
      <div class="form-group">
          <label for="searchorderno" class="form-control-sm mb-2 mr-sm-2 approve-sec">Order No:</label>
          <select class="form-control form-control-sm mb-2 mr-sm-2" name="orderno" id="">
            <option value="">-- Select --</option>
            <option value=""></option>
            <option value=""></option>
          </select>
      </div> -->
      <div class="form-group">
        <input type="submit" (click)="search()" value="Search" class="btn btn-success mb-2 form-control-sm" id="subbtn">
      </div>
    </div>
</form>
<!-- <form class="form-inline form-bg">
    <div class="form-row">
        <div class="form-group">
          <label for="datefrom" class="form-control-sm mb-2 mr-sm-2">Date From :</label>
          <input [(ngModel)]="fromddate" type="date" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="datefrom" placeholder="Date From">
        </div>
        <div class="form-group">
            <label for="dateto" class="form-control-sm mb-2 mr-sm-2">Date To :</label>
            <input [(ngModel)]="todate" type="date" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="dateto" placeholder="Date To">
        </div>
        <div class="form-group">
          <label for="dealercode" class="form-control-sm mb-2 mr-sm-2">Dealer Code:</label>
          <input [(ngModel)]="searchdealercode" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="searchdealercode" placeholder="Dealer Code">
        </div>
        <div class="form-group">
            <label for="searchorderno" class="form-control-sm mb-2 mr-sm-2">Order No:</label>
            <input [(ngModel)]="searchorderno" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="searchorderno" placeholder="Order No">
        </div>
       
        <div class="form-group">
          <input type="submit" (click)="searchOrderDetails()" value="Search" class="btn btn-success mb-2 form-control-sm" id="subbtn">
        </div>
      </div>
</form> -->

<div class="tableHeight">
  <table class="table table-bordered table-sm custTable">
    <thead>
      <tr>
        <th>Select</th>
        <!-- <th>State</th>
        <th>Area</th>
        <th>District</th> -->
        <th>City</th>
        <th>Created On</th>
        <th>Order No</th>
        <th>Claim Settled Date</th>
        <th>No. of days left for Reclaiming</th>
        <th>Material No</th>
        <th>Material Description</th>
        <th>Frame No</th>
        <th>Pending With</th>
        <th>Status</th>
        <th>Pending From</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderDetails">
        <td><a role="button" class="selectItem" (click)="getRequestByDetails(item)">Select</a></td>
        <!-- <td>xxx</td>
        <td>john@example.com</td>
        <td>John</td> -->
        <td>{{item.CITY}}</td>
        <td>{{item.CREATED_ON | date:'dd-MM-yyyy'}}</td>
        <td>{{item.ORDER_NUMBER}}</td>
        <td>{{item.CLAIM_SETTLED_DATE | date:'dd-MM-yyyy'}}</td>
        <td>{{item.DAYS_LEFT_FOR_RECLAIMING}}</td>
        <td>{{item.PART_NUMBER}}</td>
        <td>{{item.PART_DESCRIPTION}}</td>
        <td>{{item.FRAME_NUMBER}}</td>
        <td>TM</td>
        <td *ngIf= "item.STATUS !== 'Q'">Pending for Approval</td>
        <td *ngIf= "item.STATUS === 'Q'">Pending for Query</td>
        <td>{{item.CREATED_ON | date:'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<p></p>
<div *ngIf="displayDetailSec">
  <div>
    <h4 class="custHomeHead">Application Details</h4>
  </div>
  <div class="jumbotron jumbo2">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="claimsettleddate" class="form-control-sm mb-2 mr-sm-2">Claim Settled Date</label>
          <input disabled [(ngModel)]="OrderDetails.CLAIM_SETTLED_DATE" type="date" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="claimsettleddate" placeholder="Claim Settled Date">
        </div>
        <div class="form-group">
          <label for="daysleft" class="form-control-sm mb-2 mr-sm-2">Days left for Reclaiming</label>
          <input disabled [(ngModel)]="OrderDetails.DAYS_LEFT_FOR_RECLAIMING" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="daysleft" placeholder="Days left for Reasoning">
        </div>
        <div class="form-group">
          <label for="partno" class="form-control-sm mb-2 mr-sm-2">Part Number</label>
          <input disabled [(ngModel)]="OrderDetails.PART_NUMBER" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="partno" placeholder="Part Number">
        </div>
        <div class="form-group">
          <label for="partdesc" class="form-control-sm mb-2 mr-sm-2">Part Description</label>
          <input disabled [(ngModel)]="OrderDetails.PART_DESCRIPTION" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="partdesc" placeholder="Part Description">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="frameno" class="form-control-sm mb-2 mr-sm-2">Frame Number</label>
          <input disabled [(ngModel)]="OrderDetails.FRAME_NUMBER" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="frameno" placeholder="Frame Number">
        </div>
        <div class="form-group">
          <label for="kms" class="form-control-sm mb-2 mr-sm-2">Kms</label>
          <input disabled [(ngModel)]="OrderDetails.KMS" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="kms" placeholder="Kms">
        </div>
        <div class="form-group">
          <label for="salesdate" class="form-control-sm mb-2 mr-sm-2">Sales Date</label>
          <input disabled [(ngModel)]="OrderDetails.SALES_DATE" type="date" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="salesdate" placeholder="Sales Date">
        </div>
        <div class="form-group">
          <label for="repairdate" class="form-control-sm mb-2 mr-sm-2">Repair Date</label>
          <input disabled [(ngModel)]="OrderDetails.REPAIR_DATE" type="date" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="repairdate" placeholder="Repair date">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="model" class="form-control-sm mb-2 mr-sm-2">Model</label>
          <input disabled [(ngModel)]="OrderDetails.MODEL" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="model" placeholder="Model">
        </div>
        <div class="form-group">
          <label for="ndprate" class="form-control-sm mb-2 mr-sm-2">NDP Rate</label>
          <input disabled [(ngModel)]="OrderDetails.NDP_RATE" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="ndprate" placeholder="NDP Rate">
        </div>
        <div class="form-group">
          <label for="dealercode" class="form-control-sm mb-2 mr-sm-2">Dealer Code</label>
          <input disabled [(ngModel)]="OrderDetails.DEALER_CODE" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="dealercode" placeholder="Dealer Code">
        </div>
        <div class="form-group">
          <label for="dealername" class="form-control-sm mb-2 mr-sm-2">Dealer Name</label>
          <input disabled [(ngModel)]="OrderDetails.DEALER_NAME" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="dealername" placeholder="Dealer Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="reasonforrejection" class="form-control-sm mb-2 mr-sm-2">Reason for Rejection</label>
          <textarea disabled [(ngModel)]="OrderDetails.REJECTION_REASON" name="reasonforrejection" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" cols="30" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="justification" class="form-control-sm mb-2 mr-sm-2">Justification</label>
          <textarea disabled [(ngModel)]="OrderDetails.JUSTIFICATION" name="justification" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" cols="30" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="city" class="form-control-sm mb-2 mr-sm-2">City</label>
          <input disabled [(ngModel)]="OrderDetails.CITY" type="text" class="form-control form-control-sm mb-2 mr-sm-2 app-sec" name="city" placeholder="City">
        </div>
        <!-- <div class="form-group">
          <label for="uploaddocs" class="form-control-sm mb-2 mr-sm-2">Upload Documents</label>
          <input disabled type="file" class="form-control-file form-control-sm  app-sec" name="uploaddocs">
        </div> -->
      </div>
    </form>
  </div>
  
  <div>
    <h4 class="custHomeHead">Documents</h4>
  </div>
  <table class="custDocTable">
    <!-- <tr *ngFor="let file of fileList"> -->
      <!-- <td class="app-rem">Application, AO recommendation</td> -->
      <tr>
        <!-- <td class="app-rem">Application, AO recommendation</td> -->
        <td>Dealer</td>
        <td>{{ OrderDetails.CREATED_ON |date:'dd-MM-yyyy'}}</td>
        <td>
          <!-- <a href="https://www.advantagetvs.com/ReconsiderationAPI/Creation/fileDownload?fileName={{ OrderDetails.FILENAME}}">{{ OrderDetails.FILE_NAME }}</a> -->
          <!-- <a href="http://localhost:51539/Creation/fileDownload?fileName={{ OrderDetails.FILENAME }}">{{ OrderDetails.FILE_NAME }}</a> -->
        </td>
      </tr>
    <!-- <tr>
      <td class="app-rem">Application, AO recommendation</td>
      <td>Territory Manager</td>
      <td>03-05-2021 17:49</td>
      <td><a href="#">102115790_AD_DealerApplication - Paravai.pdf</a></td>
    </tr>
    <tr>
      <td class="app-rem">Application, AO recommendation</td>
      <td>Territory Manager</td>
      <td>03-05-2021 17:49</td>
      <td><a href="#">102115790_AD_DealerApplication - Paravai.pdf</a></td>
    </tr>
    <tr>
      <td class="app-rem">Application, AO recommendation</td>
      <td>Territory Manager</td>
      <td>03-05-2021 17:49</td>
      <td><a href="#">102115790_AD_DealerApplication - Paravai.pdf</a></td>
    </tr> -->
  </table>
  <div>
    <h4 class="custHomeHead">Reply</h4>
  </div>
  <form>
    <div class="row form-row">
      <div class="form-group col-md-3">
        <label for="query" class="form-control-sm mb-2 mr-sm-2 approve-sec">Reply</label>
        <textarea [(ngModel)]="Query.REMARKS" name="query" class="form-control form-control-sm mb-2 mr-sm-2" cols="30" rows="3"></textarea>
      </div>&nbsp;&nbsp;&nbsp;
      <div class="form-group col-md-3" style="margin-top:50px">
        <!-- <label for="queryto" class="form-control-sm mb-2 mr-sm-2 approve-sec">Reply Query To :</label>
        <select [(ngModel)]="querySelected" (change)="selectedQueryTo($event)" class="form-control form-control-sm mb-2 mr-sm-2" name="queryto" id="">
          <option *ngFor="let queryTo of dealerQueryToList" [value]="queryTo.FROM_EMPNO">{{ queryTo.FROM_EMPNAME }}</option>
        </select> -->
        <label for="queryto" class="form-control-sm mb-2 mr-sm-2 approve-sec">Reply To :</label>
        <input id="txt" type="text" name="reply" [(ngModel)]="from_empname" disabled>
      </div>
      <div class="form-group query-btn">
        <input type="submit" (click)="reply()" value="Send Reply" class="btn btn-outline-secondary mb-2 form-control-sm" id="subbtn">
      </div>
    </div>
  </form>
  <div>
    <h4 class="custHomeHead">Approval Details</h4>
</div>
  <table class="esc-table">
    <tbody>
      <tr>
        <td class="esc-data">
          Requestor: &nbsp; {{ OrderDetails.DEALER_CODE }}
        </td>
        <td class="esc-data">
          Request Created Date: &nbsp; {{ OrderDetails.CREATED_ON | date:'dd-MM-yyyy'}}
        </td>
        <td class="esc-data">
          Requestor Remarks: &nbsp; {{ OrderDetails.JUSTIFICATION }}
        </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="esc-data">
          TM: &nbsp; {{ OrderDetails.TM }}
        </td>
        <td class="esc-data">
          TM Approved Date: &nbsp; {{ (OrderDetails.TM_APPR_DATE!=='0001-01-01T00:00:00')?(OrderDetails.TM_APPR_DATE | date:'dd-MM-yyyy'):''}}
        </td>
        <td class="esc-data">
          TM Remarks: &nbsp; {{ OrderDetails.TM_REMARKS }}
        </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="esc-data">
          ASM: &nbsp; {{ OrderDetails.ASM }}
        </td>
        <td class="esc-data">
          ASM Approved Date: &nbsp; {{(OrderDetails.ASM_APPR_DATE!=='0001-01-01T00:00:00')? (OrderDetails.ASM_APPR_DATE| date:'dd-MM-yyyy'):'' }}
        </td>
        <td class="esc-data">
          ASM Remarks: &nbsp; {{ OrderDetails.ASM_REMARKS }}
        </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    
      <tr>
        <td class="esc-data">
          HO : &nbsp; {{ OrderDetails.HO }}
        </td>
        <td class="esc-data">
          HO Approved Date: &nbsp; {{(OrderDetails.ASM_APPR_DATE!=='0001-01-01T00:00:00')? (OrderDetails.HO_APPR_DATE | date:'dd-MM-yyyy'):''}}
        </td>
        <td class="esc-data">
          HO Remarks: &nbsp; {{ OrderDetails.HO_REMARKS }}
        </td>
      </tr>
    </tbody>
    <br>
  </table>
  <div>
    <h4 class="custHomeHead">Escalation Details</h4>
  </div>
  <table class="esc-table">
    <tbody *ngFor="let esc of escalationList">
      <tr>
        <td class="esc-data">
          From: &nbsp; {{ esc.FROM_EMPNAME }}
        </td>
        <td class="esc-data">
          To: &nbsp; {{ esc.TO_EMPNAME }}
        </td>
        <td class="esc-data">
          Date & Time: &nbsp;
          {{ esc.CREATED_ON | date:'dd-MM-yyyy'}}
        </td>
      </tr>
      <tr>
        <td class="esc-data remarks-sec" colspan="6">
          Remarks: &nbsp;
          {{ esc.REMARKS }}
        </td>
      </tr>
      <br>
    </tbody>
  </table>
</div>

<div class="overlay" *ngIf="popup">
  <div class="popup">
      <h2></h2>
      <a class="close" (click)="popup = false">&times;</a>
      <p class="msg-sec">Message from TVSM 2W Warranty Section</p>
      <div class="content">
        Your request is submitted successfully
      </div>
      <div class="text-center ok-btn">
        <input class="btn btn-primary btn-sm" type="button" (click)="popup = false" value="OK">
      </div>
  </div>
</div>
