.custApprovalHead {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 10px 15px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 12px;
}

.tableHeight {
    width: 1000px;
}

.custTable {
    font-size: 12px;
    border: 1px solid #ddd;
    font-family: Tahoma,Arial,Verdana;
    line-height: 1.42857143;
}

.upload-sec {
    padding-left: 20px;
}

label {
    font-weight: bold !important;
}

.form-row {
    padding: 2px;
}

.approve-sec {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px !important;
    font-weight: 700 !important;
    line-height: 3.428571 !important;
    font-size: 12px;
}

.query-btn {
    padding-top: 38px;
}

.custHomeHead {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 10px 15px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  
  
  .popup {
    margin: 70px auto;
    /* padding: 20px; */
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    background-color: #919aa8;
    height: 20px;
  }

  .popup .close {
    position: absolute;
    top: -9px;
    right: 8px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    /* max-height: 30%; */
    overflow: auto;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 70%;
    }
  }

  .msg-sec {
    margin-top: -8px;
    background-color: red;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.ok-btn {
    padding: 10px;
}