<nav class="navbar navbar-light justify-content-between navBg">
    <a class="navbar-brand"><h5 class="custH5">Reconsideration of Rejected Warranty</h5></a>
    <img class="mr-sm-2" src="..\assets\images\corp-tvs-logo.png" alt="Logo" width="20%">
</nav>

<div>
    <p class="custMenu">Welcome {{empname}}</p>
     <ul class="nav navbar-light bg-light custNavMenu" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"   data-toggle="pill" href="#home" >Home</a>
        </li>
    
         

        <li *ngIf="role !== 'NSM' && role !== 'GMS'" class="nav-item dropdown"  >
            <a class="nav-link dropdown-toggle dropbtn">Approve </a>
            
            <div class="dropdown-content">
                <a data-toggle="pill" href="#pending">Approval Parts</a>
                <a data-toggle="pill" href="#Query">Query-Reply</a>
            </div>
        </li>
        
        <li *ngIf="role !== 'NSM' && role !== 'GMS'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn">Report</a>
            <div class="dropdown-content">
                <a data-toggle="pill" href="#completed">Order Report</a>
            </div>
        </li>
        <li *ngIf="role !== 'TM'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn">Super Approval</a>
            <div class="dropdown-content">
                <a *ngIf="role === 'AM'" data-toggle="pill" 
                href="#superInitiate">Initiate Super Approval</a>
                <a *ngIf="role=== 'NSM' || role=== 'GMS' || role=== 'HO'" data-toggle="pill" 
                href="#superPending">Pending Super Approval</a>
                <a data-toggle="pill" href="#superQuery">Query Pending</a>
                <a data-toggle="pill" href="#superReport"> Super Report</a>
            </div>
        </li>
        <li *ngIf="role === 'TM' || role=== 'AM'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropbtn">DMS Call log Approval</a>
            <div class="dropdown-content">
                <a  data-toggle="pill" 
                href="#VehSerHistory">Vehicle Service History</a>
            <a  data-toggle="pill" 
                href="#DMSApproval">DMS call log approval</a>
                
                </div>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu2">Logout</a>
        </li>
    </ul> 
</div>

<br>

 <div class="tab-content">
    <div id="home" class="tab-pane active">
        <div>
            <h4 class="custHomeHead">Donwloads</h4>
        </div>

        <ul>
            <li>
               
                
                
 <a href="https://www.advantagetvs.com/ReconsiderationAPI/Creation/getfileFormat?filename=LimitationforwarrantyNoncoveredparts.pdf">
    Warranty wear and tear limitations
</a>

            </li>
            <li>
                
                <a href="https://www.advantagetvs.com/ReconsiderationAPI/getfileFormat?fileName=WarrantyTermsforTVSMProducts.pdf">
                    Model wise Warranty period
                </a>
            </li>
            <li>
               
                <a href="https://www.advantagetvs.com/ReconsiderationAPI/Creation/getfileFormat?fileName=SpecialApprovalPartslistformat.pdf">
                    Special Approval - Parts list format
                </a>
                   
            </li>

        </ul>
    </div>
    <div *ngIf="role !== 'NSM' && role !== 'GMS'" id="pending" class="tab-pane fade" >
        <app-pending-approval></app-pending-approval>
    </div>
    <div id="menu1" class="tab-pane fade">
        <app-approver-report></app-approver-report>
    </div>
    <div id="Query" class="tab-pane fade">
        <app-dealer-query></app-dealer-query>
    </div>
    <div id="completed" class="tab-pane fade">
        <app-order-report></app-order-report>
    </div>
    <div id="superInitiate" class="tab-pane fade">
        <app-super-initiate></app-super-initiate>
    </div>
    <div  id="superPending" class="tab-pane fade">
        <app-super-pending-approval></app-super-pending-approval>
    </div>
    <div id="superQuery" class="tab-pane fade">
        <app-super-pending-query></app-super-pending-query>
    </div>
    <div *ngIf="role !== 'TM'" id="superReport" class="tab-pane fade">
        <app-super-report></app-super-report>
    </div>
    <div id="DMSApproval" class="tab-pane fade">
        <app-dms-approval></app-dms-approval>
    </div>
    <div id="VehSerHistory" class="tab-pane fade">
        <app-frame-check></app-frame-check>
    </div>
    
</div> 