/* .jumbotron {
    padding: 10px;
}

.tableCust {
    background-color: #fff;
} */

.redrow
{
  height: 18px;
  color: White;
  font-weight: bold;
  font-size: 11px;
  background-color: #EA5607;
  bottom: 10px;
}
.custApprovalHead {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 18px 15px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 17px;
}
.Header {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 10px 15px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 12px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.custTable {
    font-size: 12px;
    border: 1px solid #ddd;
    font-family: Tahoma,Arial,Verdana;
    line-height: 1.42857143;
}

.tableHeight {
    height:300px !important;
    overflow-y:scroll;
    background-color: #fff;
}

.jumbotron {
    padding: 0px
}

.jumbo2 {
    background-color: #fff;
    padding-bottom: 20px;
}

.jumbo2 .form-group {
    margin-bottom: -1.5rem;
}

.form-row {
    padding: 2px;
}

.jumbo2 label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 3.428571;
}

.custHomeHead {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 10px 15px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 12px;
}

.app-sec {
    width: 180px;
}

.custDocTable {
    font-size: 12px;
    /* height: 100px; */
    font-family: Tahoma,Arial,Verdana;
    background-color: #fff;
    width: 100%;
}

.app-rem {
    font-weight: 700;
}

.custDocTable tr td {
    padding: 10px;
}

.esc-table {
    color:#6D7B8D;
    background-color:White;
    width: 100%;
}

.esc-data {
    font-size: 12px;
    padding: 0px;
    font-family: Tahoma,Arial,Verdana;
}

.form-bg {
    background-color: #fff;
}

.query-btn {
    padding-top: 38px;
}

.btn-outline-secondary {
    background-color: gray;
    color: #fff;
}
.button
{
  display: flex;
  padding: 5px;
  margin-top: 50px;
  justify-content: center;
  padding: 12px 24px !important;
  margin-bottom: 0px !important;
  min-height: inherit !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.inlineHeader
{
    width:fit-content;
    min-width:100%

}
